<section>
  <div class="header-text">
    <h1>Nosso Tempero</h1>
  </div>
  <nav>
    <ul class="d-flex">
      <li class="p-2">
        <a href="">Ofertas do Dia</a>
      </li>
      <li class="direita p-2">
        <a href="">Os Mais Pedidos</a>
      </li>
      <li>
        <h1 [routerLink]="['/']">Nossa Marca</h1>
      </li>
      <li class="esquerda p-2">
        <a href="">Fale Conosco</a>
      </li>
      <li class="p-2">
        <a [routerLink]="['/cardapio']">Cardápio</a>
      </li>
    </ul>
  </nav>
  <div class="user-section">
    <ul class="d-flex justify-content-end">
      <li class="p-2">
        <p>Olá, {{ username }} <i class="fas fa-user-circle"></i></p>
      </li>
      <div class="auth-manager" *ngIf="!authService.loggedIn(); else isLoggedin">
        <li class="p-2">
          <a [routerLink]="['/auth/register']"><u>Register</u></a>
        </li>
        <li class="p-2">
          <a [routerLink]="['/auth/login']"><u>Login</u></a>
        </li>
      </div>
      <ng-template #isLoggedin>
        <li class="p-2">
          <span (click)="onLogout()"><u>Logout</u></span>
        </li>
      </ng-template>
    </ul>
  </div>
  <div class="menu-mobile">
    <mat-menu #appMenu="matMenu">
      <div class="buttons-mobile">
        <button mat-menu-item>Ofertas do Dia</button>
        <button mat-menu-item>Os Mais Pedidos</button>
        <button mat-menu-item>Fale Conosco</button>
        <button mat-menu-item [routerLink]="['/cardapio']">Cardápio</button>
        <div *ngIf="!authService.loggedIn(); else isLoggedin">
          <button mat-menu-item [routerLink]="['/auth/register']">Register</button>
          <button mat-menu-item [routerLink]="['/auth/login']">Login</button>
        </div>
        <ng-template #isLoggedin>
          <a mat-menu-item (click)="onLogout()">Logout</a>
        </ng-template>
      </div>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <i class="fas fa-bars fa-lg"></i>
    </button>
  </div>
</section>
<div *ngIf="loader.isLoading | async" class="loader-container">
  <mat-spinner color="warn"></mat-spinner>
</div>
